/* making it responsive */

@media only screen and (max-width: 420px) {
  .add-todo-continer {
    padding: 20px 14px 18px;
  }

  .task-list {
    padding: 20px 4px 6px;
  }

  .task-list__item {
    padding: 7px 20px;
  }

  .options {
    gap: 1.2rem;
  }
  button {
    display: none;
  }
}
