* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background: url("background.png");
  margin: 0 auto;
}

.container {
  text-align: center;
  overflow: hidden;
}

.time_container,
.day_container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.time_container p {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.time_container span {
  font-size: 1.45rem;
  color: #fff;
  font-weight: 400;
}

.day_container p {
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;
}
