@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --clr-container-bg: #636e72;
  --clr-add-todo-bg: #edeef0;
  --clr-task-list-bg: #95a5a6;
  --clr-btn-bg: #e67e22;
  --clr-input: #272829;

  --clr-gradient-one: #1b261b;
  --clr-gradient-two: #1d2633;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  background: linear-gradient(
    135deg,
    var(--clr-gradient-one),
    var(--clr-gradient-two)
  );
  width: 100%;
  height: 100vh;
  padding: 10px;
}

/* styling add todo container */

.add-todo-continer {
  width: 100%;
  max-width: 768px;
  background-color: var(--clr-container-bg);
  margin: 100px auto 20px;
  padding: 40px 30px 20px;
  border-radius: 10px;
}

.add-todo-continer h1 {
  font-weight: 400;
  color: var(--clr-task-list-bg);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: inherit;
}

.add-todo-continer h1 img {
  width: 30px;
  margin-left: 12px;
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  background-color: var(--clr-add-todo-bg);
  border-radius: 25px;
}

.add-todo__input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 15px;
  font-family: inherit;
  font-weight: 400;
  font-size: clamp(16px, 6.8vw, 20px);
  border-radius: 25px;
}

.message-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 300;
}

.error {
  color: #d63031;
}

.success {
  color: #2ecc71;
}

.done {
  color: #f1c40f;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #e67e22;
  border-radius: 25px;
  color: var(--clr-add-todo-bg);
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #ec9a52b2;
}

/* styling task list */

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--clr-task-list-bg);
  padding: 40px 30px 20px;
  border-radius: 10px;
  margin-top: 1rem;
}

.task-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: 25px;
  margin-bottom: 1rem;
  background-color: var(--clr-add-todo-bg);
}

.task-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* making checkbox circular */

.task-details input[type='checkbox'] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid var(--clr-task-list-bg);
  border-radius: 40px;

  display: grid;
  place-content: center;
  /* margin-right: 1rem; */
}

.task-details input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-task-list-bg);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task-details input[type='checkbox']:checked {
  background-color: var(--clr-add-todo-bg);
}

.task-details input[type='checkbox']:checked::before {
  transform: scale(1) rotate(10deg);
}

/* FOR FOCUS STATE */
.task-details input[type='checkbox']:focus {
  outline: 3px solid transparent;
}

/* task name */
.task-list__item p {
  position: relative;
  font-size: clamp(15px, 5.2vw, 17px);
  color: var(--clr-container-bg);
  /* word-break: break-all; */
}

.task-list__item p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: var(--clr-input);
  display: none;
}
.task-list__item.completed {
  color: var(--clr-input);
}
.task-list__item.completed p::before {
  display: block;
}

/* styling options block */

.options {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.edit-task,
.delete-task {
  cursor: pointer;
}
